/* BODY */
body {
    background-image: url(" C:\Users\batin\local-git\rowan-knutsen-nyu-coding-forestry\pexels-shottrotter-1150745.jpg");
    color: black;
    padding: 0% 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h4 {
    color: black;
}

/* links */
a {
    color: black;
    padding: 2px;
    background-color: darkseagreen;
    border-radius: 3px 10px 3px;
}

button {
    background-color: seagreen;
}

/* links when hover */
a:hover {
    color: rgb(0, 51, 0);
    background-color: #ffffff00;
    color: ivory;
}

/* sections only show article + example article pages when the requisite links are pressed */
section:target::before {
    display: block;
}

section:target {
    display: none;
}

#articles {
    background-color: whitesmoke;
    padding: 20px;
    width: 80%;

}

.index-header {
    background-color: darkseagreen;
    border-radius: 20px;
}

.nav-header {
    padding: 20px;
    background-color: seagreen;
    border-radius: 10px;
    display: grid;
    height: 5%;
    text-align: center;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 4fr;
}

.nav-item {
    background-color: darkseagreen;
    border-radius: 2px 15px 2px;
    row-gap: 10%;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.flex-container {
    background: darkseagreen;
    justify-content: space-evenly;
    padding: 10px;
    border: 10px;
    flex-wrap: wrap;
    display: flex;
    height: 20%;
    border: 20px;
    border-radius: 20px;
    border-color: seagreen;
}

.flex-item {
    height: 175px;
    padding: 10px;
    width: 200px;
    border-color: black;
    text-align: center;
    border-radius: 5px 30px 5px;
    background-color: #2e8b57;
    flex: 1 1 1 1px;
    box-sizing: border-box;
}

.article-title {
    padding: 3px;
    background-color: #2e8b5790;
    border-radius: 10px;
    padding: 10px;

}

.footer {
    background-color: #2e8b57;
    padding: 10px;
    border-radius: 10px;
}