/* BODY */
body {
    color: black;
    background-color: ivory;
}

/* links */
a {
    color: black;
    padding: 2px;
    background-color: darkseagreen;
}

button {
    background-color: seagreen;
}

/* links when hover */
a:hover {
    color: rgb(0, 51, 0);
    background-color: #ffffff00;
    /*removes default underline*/
}

/* sections only show article + example article pages when the requisite links are pressed */
section:target::before {
    display: block;
}

section:target {
    display: none;
}

.index-header {
    background-color: darkseagreen;
    border-radius: 20px;
    width: 90%;
}

.nav-header {
    padding: 20px;
    background-color: seagreen;
    border-radius: 10px;
    display: grid;
    height: 10%;
    gap: 5px;
    text-align: center;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 4fr;
}

.grid-item {
    background-color: darkseagreen;
    border-radius: 2px 15px 2px;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

#searchbar {
    width: fit-content;
}

.flex-container {
    background: darkseagreen;
    justify-content: space-evenly;
    padding: 10px;
    border: 10px;
    flex-wrap: wrap;
    display: flex;
    height: 20%;
    width: 85%;
    border: 20px;
    border-radius: 20px;
    border-color: seagreen;
}

.flex-item {
    height: 175px;
    padding: 10px;
    width: 200px;
    border-color: black;
    text-align: center;
    border-radius: 5px 30px 5px;
    background-color: seagreen;
    flex: 1 1 1 1px;
    box-sizing: border-box;
}

.example-art {
    padding: 10%;
    width: 80%;
}

.description {
    width: 85%;
}