/* BODY */
body {
    background-image: url("/pexels-shottrotter-1150745.jpg");
    color: ivory;
    padding: 0% 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.description {
    background-color: #2e8b5780;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    color: black;
    margin: 3;
}

h4 {
    color: white;
    margin: 1;
}

/* links */
a {
    color: black;
    padding: 2px;
    background-color: darkseagreen;
    border-radius: 3px 10px 3px;
}

/* links when hover */
a:hover {
    color: rgb(0, 51, 0);
    background-color: #ffffff00;
    color: ivory;
}

button {
    background-color: seagreen;
}

/* sections only show article + example article pages when the requisite links are pressed */
section:target::before {
    display: block;
}

section:target {
    display: none;
}


.index-header {
    background-color: #8fbc8f80;
    border-radius: 10px;
    padding: 10px;
}

.nav-header {
    padding: 20px;
    background-color: seagreen;
    border-radius: 10px;
    display: grid;
    height: 5%;
    text-align: center;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 4fr;
    top: 0;
    position: sticky;
}

.nav-item {
    background-color: darkseagreen;
    border-radius: 2px 15px 2px;
    row-gap: 10%;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.flex-container {
    background: #8fbc8f70;
    justify-content: space-evenly;
    padding: 10px;
    border: 10px;
    flex-wrap: wrap;
    display: flex;
    height: 20%;
    border-radius: 20px;
    border-color: seagreen;
}

.flex-item {
    height: 175px;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 5px 30px 5px;
    background-color: #1f6d41;
    flex: 1 1 1 1px;
    box-sizing: border-box;
}

.flex-item-1 {
    width: 90%;
}

.article-title {
    padding: 3px;
    background-color: #2e8b5790;
    border-radius: 10px;
    padding: 10px;
}

#art-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

/* ARTICLES LINK PAGE */
.article-list {
    padding: 10px;
    background-color: #2e8b5780;
    border-radius: 10px;
}

/* when hovering over an article entry - dissplay description */
.article-list:hover+.article-list p {
    display: block;
}

.article-list h4 {
    color: white;
    margin: 0;
    display: inline;
}

.article-list p {
    display: none;
}

#single-article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: ivory;
    gap: 10px;
}

.select-art {
    color: white;
    background-color: yellow;
}

/* FOOTER */
.footer {
    background-color: #2e8b57;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    bottom: 0;
}